<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Restaurant.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5972BF6425B16DEC0078A2C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5972BF7525B16DEC0078A2C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5972BF8025B16DED0078A2C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
